In [130]:
# Required imports
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import boto3
from dotenv import load_dotenv
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (12, 8)
plt.rcParams['font.size'] = 12

load_dotenv()
AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID")
AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")

In [137]:
FILE_NAME = 'feature_frame.csv'
S3_DIR = 'groceries/box_builder_dataset/'
BUCKET_NAME = 'zrive-ds-data'
S3_PATH = "s3://" + BUCKET_NAME + S3_DIR + FILE_NAME
LOCAL_DATA_PATH = 'data/'
LOCAL_FILE_PATH = LOCAL_DATA_PATH + FILE_NAME

def get_data_from_s3():
    """Download data from S3 if not exists locally."""
    os.makedirs(LOCAL_DATA_PATH, exist_ok=True)
    
    if os.path.exists(LOCAL_FILE_PATH):
        print(f"File already exists at {LOCAL_FILE_PATH}")
        return
    
    try:
        s3 = boto3.client('s3',
                         aws_access_key_id=AWS_ACCESS_KEY_ID,
                         aws_secret_access_key=AWS_SECRET_ACCESS_KEY)
        
        key = S3_DIR + FILE_NAME
        
        print(f"Downloading from {S3_PATH}")
        s3.download_file(BUCKET_NAME, key, LOCAL_FILE_PATH)
        print(f"File downloaded successfully to {LOCAL_FILE_PATH}")
        
    except Exception as e:
        print(f"Error downloading file: {e}")
        raise

# Download data if needed
get_data_from_s3()

# Load the dataset
df = pd.read_csv(LOCAL_FILE_PATH)

File already exists at data/feature_frame.csv

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880549 entries, 0 to 2880548
Data columns (total 27 columns):
 #   Column                            Dtype
---  ------                            -----
 0   variant_id                        int64
 1   product_type                      object
 2   order_id                          int64
 3   user_id                           int64
 4   created_at                        object
 5   order_date                        object
 6   user_order_seq                    int64
 7   outcome                           float64
 8   ordered_before                    float64
 9   abandoned_before                  float64
 10  active_snoozed                    float64
 11  set_as_regular                    float64
 12  normalised_price                  float64
 13  discount_pct                      float64
 14  vendor                            object
 15  global_popularity                 float64
 16  count_adults                      float64
 17  count_children                    float64
 18  count_babies                      float64
 19  count_pets                        float64
 20  people_ex_baby                    float64
 21  days_since_purchase_variant_id    float64
 22  avg_days_to_buy_variant_id        float64
 23  std_days_to_buy_variant_id        float64
 24  days_since_purchase_product_type  float64
 25  avg_days_to_buy_product_type      float64
 26  std_days_to_buy_product_type      float64
dtypes: float64(19), int64(4), object(4)
memory usage: 593.4+ MB

In [139]:
df.head()

,variant_id,product_type,order_id,user_id,created_at,order_date,user_order_seq,outcome,ordered_before,abandoned_before,...,count_children,count_babies,count_pets,people_ex_baby,days_since_purchase_variant_id,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type
0,33826472919172,ricepastapulses,2807985930372,3482464092292,2020-10-05 16:46:19,2020-10-05 00:00:00,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
1,33826472919172,ricepastapulses,2808027644036,3466586718340,2020-10-05 17:59:51,2020-10-05 00:00:00,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
2,33826472919172,ricepastapulses,2808099078276,3481384026244,2020-10-05 20:08:53,2020-10-05 00:00:00,4,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
3,33826472919172,ricepastapulses,2808393957508,3291363377284,2020-10-06 08:57:59,2020-10-06 00:00:00,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
4,33826472919172,ricepastapulses,2808429314180,3537167515780,2020-10-06 10:37:05,2020-10-06 00:00:00,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618

In [140]:
df['outcome'].value_counts(normalize=True)

outcome
0.0    0.988463
1.0    0.011537
Name: proportion, dtype: float64

Añadir variable de cuantos items se han comprado en cada order

In [141]:
# Paso 1: Agrupar por order_id y contar los productos con outcome=1
items_comprados_por_orden = df[df['outcome'] == 1.0].groupby('order_id').size()

# Paso 2: Crear un DataFrame con esta información
items_comprados_df = items_comprados_por_orden.reset_index(name='items_comprados')

# Paso 3: Hacer un merge con el DataFrame original
df = df.merge(items_comprados_df, on='order_id', how='left')

# Para órdenes que no tienen ningún producto comprado, reemplazar NaN con 0
df['items_comprados'] = df['items_comprados'].fillna(0).astype(int)

Nuevo dataframe con unicamente orders con mas de 5 items comprados

In [143]:
valuable_orders_df = df[df['items_comprados'] > 5]
valuable_orders_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2023050 entries, 0 to 2880547
Data columns (total 28 columns):
 #   Column                            Dtype
---  ------                            -----
 0   variant_id                        int64
 1   product_type                      object
 2   order_id                          int64
 3   user_id                           int64
 4   created_at                        object
 5   order_date                        object
 6   user_order_seq                    int64
 7   outcome                           float64
 8   ordered_before                    float64
 9   abandoned_before                  float64
 10  active_snoozed                    float64
 11  set_as_regular                    float64
 12  normalised_price                  float64
 13  discount_pct                      float64
 14  vendor                            object
 15  global_popularity                 float64
 16  count_adults                      float64
 17  count_children                    float64
 18  count_babies                      float64
 19  count_pets                        float64
 20  people_ex_baby                    float64
 21  days_since_purchase_variant_id    float64
 22  avg_days_to_buy_variant_id        float64
 23  std_days_to_buy_variant_id        float64
 24  days_since_purchase_product_type  float64
 25  avg_days_to_buy_product_type      float64
 26  std_days_to_buy_product_type      float64
 27  items_comprados                   int64
dtypes: float64(19), int64(5), object(4)
memory usage: 447.6+ MB